body {
  background-color: antiquewhite;
}
.wrapper {
  text-align: center;
  align-self: center;
  margin: 0 auto;
}
.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
